@model LibraryManagementSystem.Models.BookRequestModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BookRequestModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookEdition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookEdition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RackNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RackNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoverId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BookId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
