@{
    ViewData["Title"] = "SearchNew";
}

<h1>SearchNew</h1>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<div class="book-grid">
    @foreach (OpenLibBook book in ViewBag.SearchResult)
    {
        @if (book.Authors != null && book.Isbn != null && book.CoverId != null)
        {
            <a asp-action="Create" asp-controller="BookRequest" asp-route-id="@book.Isbn[0]" class="book-card">
                @{
                    string src = "https://covers.openlibrary.org/b/id/" + book.CoverId + "-M.jpg";
                }
                <div class="book-cover" style="background-image: url(@src)"></div>
                <div class="book-title">@book.Title</div>
                <div class="book-author">@book.Authors[0]</div>
                <div class="book-author">@book.Isbn[0]</div>
            </a>
        }
    }
    <div />
